@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);
/* $border-radius: 20px; */
body {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

header {
  margin-top: 26px;
  margin-bottom: 38px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  color: #ffffff;
  line-height :65px;
  margin: 0 5px 24px;
  font-family:'cursive';
  font-size: 54px;
  margin-bottom: 16px;
  text-align: center;
  padding-top: 3px;
  background-color: #6ddaf5;
  border-radius: 20px;
  /* color:aqua; */
  /* background:#6ddaf5; */

}


.widget {
  position: absolute;
  top: 40%;
  left: 50%;
  display: flex;
  height: 300px;
  width: 600px;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
.hr{
  margin: 0  ;
 padding-left:50%;
 padding-right:49.7%;
  border-color: black;
  background-color: black;
}

.search-box {
  width:100vw;
  height:50px;
  border-color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  border-width: 3px;
    outline: none;
    text-align: center;
    font-weight: bold;
    font-style: italic;
<<<<<<< HEAD
    color: black;
=======
    color:black;
>>>>>>> f272a38485f2d2394b00b9b95785c402db841ea3
    font-size:20px;
}

.weatherLocation{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 120px;
  padding: 2rem;
  font-size: 44px;
  background-color: white;
  font-weight: bold;

}

.weatherLocation button{
  background: hsl(192, 87%, 69%);
  color:#fff;
  border: 1px solid transparent;
  font-size: 30px;
  height: 90px;
  width:200px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  font-weight: bold;
  font-family:'Libre Baskerville',serif;


}
.weatherLocation input:focus{
  outline: 0 none;
}

.widget .weatherIcon {
  flex: 1 100%;
  height: 60%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #FAFAFA;
  font-family: weathericons;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 100px;
}
.widget .weatherIcon i {
  padding-top: 3px;
  background-color: #6ddaf5;
  border-radius: 20px;
}
.widget .weatherInfo {
  flex: 0 0 70%;
  height: 40%;
  background: #080705;
  border-bottom-left-radius: 20px;
  display: flex;
  align-items: center;
  color: white;
}
.widget .weatherInfo .temperature {
  flex: 0 0 40%;
  width: 100%;
  font-size: 35px;
  display: flex;
  justify-content: space-around;
}
.widget .weatherInfo .description {
  flex: 0 60%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.widget .weatherInfo .description .weatherCondition {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;
}
.widget .weatherInfo .description .place {
  font-size: 15px;

  padding-right: 30px;
}
.widget .date {
  flex: 0 0 30%;
  height: 40%;
  background: #6ddaf5;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: 800;
}

p {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
p a {
  text-decoration: none;
  color: #E4D6A7;
  font-size: 10px;
}
